# Игнорировать ненужные файлы
*.pyc
__pycache__/

# Игнорировать переменные среды
.env

# Игнорировать базу данных
db.sqlite3

# Игнорировать миграции Django
*/migrations/

# Игнорировать медиафайлы
/media/

# Игнорировать виртуальное окружение
venv/

