{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Личный кабинет</h1>
    <p>Добро пожаловать, {{ user.username }}!</p>
    <h2>Запланированные тренировки</h2>
    {% if appointments %}
        <ul class="list-group">
            {% for appointment in appointments %}
                <li class="list-group-item">
                    <strong>Тренер:</strong> {{ appointment.trainer.name }}<br>
                    <strong>Дата:</strong> {{ appointment.date }}<br>
                    <strong>Время:</strong> {{ appointment.time }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет запланированных тренировок.</p>
    {% endif %}
</div>
{% endblock %}
